<footer class="footer">
    <p>&copy; 2024 Javier - Desarrollador de Software</p>
    <ul class="social-links">
      <li><a href="https://github.com/javihll">GitHub</a></li>
      <li><a href="https://linkedin.com/in/javier-haro-lladó-112719329">LinkedIn</a></li>
    </ul>
  </footer>
  